.container {
  position: relative;
}
.logo {
  width: 50px;
  cursor: pointer;
  border-radius: 10px;
  position: relative;
}
.logo:hover {
  opacity: 0.8;
}
.container:not(:hover) .tooltip {
  visibility: hidden;
}
.container:hover .tooltip {
  visibility: visible;
}
