.sideDrawer {
  position: fixed;
  width: 300px;
  max-width: 70%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(32, 18, 0);
  border: 1px solid transparent;
  box-shadow: 2px 0 3px rgb(136, 136, 136);
  transition: transform 1s ease;
  z-index: 20;
}
@media (min-width: 500px) {
  .hide {
    display: block;
  }
  .hide {
    display: none;
  }
}
